
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #F0EFEA
}


.header .header__titulo {
    font-size: 5rem;
    font-family: Metamorphous;
    color: rgb(124, 0, 0);
    background-color: black;
    padding: 20px;
    margin-bottom: 50px;
}

.navbar .navbar__list .navbar__item {
    border-radius: 50px;
    display: inline-block;
    background-color: #C0B2B5;
    text-align:justify;
    padding: 7px;
    margin-inline: 5px;
    font-size: 1.5rem;
    font-family: monospace;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}



.navbar .navbar__list .navbar__item:hover{
    background-color: crimson;
    box-shadow: 0px 9px 9px;
    transform: scale(1.2);
}

.titulo-categoria{
    font-family:Metamorphous;
    font-size: 3rem;
    color:rgb(124, 0, 0);
    text-align: center;
    background-color:black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portada .portada__contenedor-texto .portada__titulo {
    margin-top: 50px;
    font-family: Metamorphous;
    font-size: 3rem;
    color:rgb(124, 0, 0);
    text-align: center;
    background-color:black;
}

.noticia .noticia__titulo {
    padding: 50px;;
    font-size: 2rem;
    font-family:Metamorphous;
    color:rgb(124, 0, 0);
}

.noticia .noticia__texto {
    margin-inline: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;
    font-family: monospace;
    text-align: justify;
}

.caja-img{
text-align: center;
}
.new__img {
    margin-top: 80px;
    width: 75%;
    height: auto;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.new__img:hover {
        box-shadow: 0px 9px 9px;
        transform: scale(1.1);
    }

.formularios {
    margin-left: 100px;
    font-size: 1.7rem;
    font-family:Metamorphous;
}

.miniformu {
    margin: 25px;
    font-family: monospace;
    font-size: 1.2rem;
    color: black;
}

.boton {
    font-family: monospace;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 1rem;
    color: rgb(124, 0, 0);
    background-color:#C0B2B5;
    border-radius: 7px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.boton:hover{
    background-color: rgba(255, 0, 0, 0.116);
    box-shadow: 0px 9px 9px;
    transform: scale(1.1);
}

.top-pvp {
    background-color: rgba(255, 0, 0, 0.116);
    font-size: 1.5rem;
    padding-inline-start: 5%;
    padding-bottom: 7%;
    font-family: monospace;
    text-align: center;
    border: 10px groove crimson;
}

.top-pvp h2 {
    font-family:Metamorphous;
    text-align: center;
    padding-bottom: 50px;
}

footer {
    margin-top: 100px;
    background-color: #C0B2B5;
    text-align: center;
    font-size: 1.2rem;
    font-family:Metamorphous;
}

footer ul {
    display: inline-block;
}

footer h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(124, 0, 0);
}

.foot{
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
.foot:hover{
    background-color: rgba(255, 0, 0, 0.116);
    box-shadow: 0px 9px 9px;
    transform: scale(1.2);
}