.header {
    &__titulo {
        font-size: 5rem;
        font-family: Metamorphous;
        color: $color-bg;
        background-image: url(../img/bg-portada.jpg);
        padding: 50px;
        margin-bottom: 20px;
    }
}



.titulo-categoria {
    font-family: Metamorphous;
    background-image: url(../img/bg-portada.jpg);
    font-size: 3rem;
    color: $color-bg;
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.portada {
    &__titulo {
        margin-top: 50px;
        font-family: Metamorphous;
        font-size: 3rem;
        color: $color-secundario;
        text-align: center;
        background-color: black;
    }
}