* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.formularios {
    margin-left: 100px;
    font-size: 1.7rem;
    font-family: Metamorphous;
}

.miniformu {
    margin: 25px;
    font-family: monospace;
    font-size: 1.2rem;
    color: black;
}